.container__classname {
  display: flex;
  gap: 1rem;
}

.pagination__icon {
  background: var(--border-color);
  border-radius: 4px;
  color: var(--dark-blue);
}

.page__classname {
  color: var(--grey);
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0.6;
}

.active__classname {
  color: var(--dark-blue);
  opacity: 1;
}

.break__classname {
  cursor: pointer;
}

.disabled__classname {
  opacity: 0.3;
  cursor: not-allowed;
}
