@import "../../styles/variables.scss";

.wrapper {
  padding: 30px 20px;
}

.login__image {
  @include phone {
    display: none;
  }
}

.login__container {
  margin-top: 5rem;
}

.login__container__header {
  text-align: center;
  h3 {
    color: var(--dark-blue);
    font-size: 2rem;
    font-size: 700;
  }
  p {
    color: var(--grey);
    font-weight: 400;
    margin-top: 0.5rem;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
