@import "../../styles/variables.scss";
.header__grid {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table__footer {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}
.left__col {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  border: none;
  padding: 5px 5px;
}

.right__col {
  align-self: flex-end;
  margin: 20px 0px;
}
