@import "../../styles/variables.scss";
.wrapper {
  background-color: #e5e5e5;
}
.left__container {
  position: relative;
  @include tablet {
    display: grid;
    grid-template-columns: 280px auto;
  }
}

.outlet__container {
  padding: 0px 20px;
  width: 100%;
  @include tablet {
    padding: 20px 30px;
  }
}
