@import "../../styles/variables.scss";
.wrapper {
  background-color: #e5e5e5;
  height: 100vh;
}
.left__container {
  @include tablet {
    display: grid;
    grid-template-columns: 280px auto;
  }
}

.outlet__container {
  padding: 0px 20px;
  @include tablet {
    padding: 20px 60px;
  }
}
