@import "../../styles/variables.scss";

.wrapper {
  background-color: #fbfbfb;
}
.left__container {
  position: relative;
  @include laptop {
    display: grid;
    grid-template-columns: 250px auto;
  }
}

.outlet__container {
  padding: 0px 20px;
  width: 100%;
  margin-top: 120px;
  @include tablet {
    padding: 20px 40px;
    margin-top: 90px;
  }
}
