.wrapper {
  background: var(--white);
  width: 100%;
  padding: 10px 100px 10px 20px;
  border: 1px solid;
  border-color: var(--border-color);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  p {
    margin: 5px 0px;
    color: var(--grey);
    font-size: 12px;
    width: max-content;
    text-transform: uppercase;
  }
  h3 {
    color: var(--dark-blue);
  }
}
