@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

$Poppins: "Open Sans", sans-serif;

// Tablets and small desktops
$screen-md-min: 768px;

// Phones
$screen-ph-min: 480px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin tablet {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin phone {
  @media (min-width: #{$screen-ph-min}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
