.searchbar__container {
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid;
  border-color: var(--border-color);
  height: 40px;
  width: 300px;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &::placeholder {
    color: var(--grey);
    font-size: 0.8rem;
    opacity: 0.7;
  }
  &:focus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid;
    border-color: var(--border-color);
    outline: none;
  }
}

.search__icon__container {
  background-color: var(--dark-lemon);
  width: max-content;
  padding: 12px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  .search__icon {
    color: var(--white);
  }
}
