@import "../../styles/variables.scss";

.wrapper {
  width: 100%;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  position: fixed;
  background-color: var(--white);
  z-index: 900;
  top: 0;
}

.header__container {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__toggle {
  width: 10%;
  cursor: pointer;
  @include laptop {
    display: none;
  }
}

.left__container {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.header__logo {
  display: none;
  @include laptop {
    display: block;
    img {
      width: 144px;
      height: 30px;
    }
  }
}

.search__bar {
  display: none;
  @include laptop {
    display: block;
  }
  width: 400px;
}
.right__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.docs_link {
  text-decoration: underline;
}

.profile__container {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  .content {
    display: none;
    @include laptop {
      display: flex;
      align-items: center;
    }
  }
}
